<a href="https://colab.research.google.com/github/sangcamap/house_price_prediction/blob/main/house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import pandas as pd 
import numpy as np

In [124]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/AI/House_price_prediction

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/AI/House_price_prediction

In [125]:
data = pd.read_csv('./train.csv', index_col= 'Id')
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [126]:
# data.columns
list(data.columns)

['MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [127]:
# Chọn lọc đặc trưng 

features = [ 'LotArea', 'YearBuilt', 'YearRemodAdd','1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'OverallQual', 'GarageArea', 'OverallCond']

In [128]:
# Split dataset
# X: features
# Y: SalePrice


x = data[features]
y = data["SalePrice"]

In [129]:
x.head()

,LotArea,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,OverallQual,GarageArea,OverallCond
Id,,,,,,,,,,,,
1,8450,2003,2003,856,854,2,3,1,8,7,548,5
2,9600,1976,1976,1262,0,2,3,1,6,6,460,8
3,11250,2001,2002,920,866,2,3,1,6,7,608,5
4,9550,1915,1970,961,756,1,3,1,7,7,642,5
5,14260,2000,2000,1145,1053,2,4,1,9,8,836,5

In [130]:
y.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [131]:
from sklearn.model_selection import train_test_split

# 80% dùng để train, 20% để test
# Tách x và y ra thành x_train , x_valid, y_train, y_valid

x_train, x_valid, y_train, y_valid = train_test_split(x, y, train_size= 0.8, test_size = 0.2, random_state = 0)

In [132]:
x_train.shape

(1168, 12)

In [133]:
x.shape

(1460, 12)

In [134]:
from sklearn.tree import DecisionTreeRegressor 
# Mô hình cây quyết định 
# Ít phòng ngủ -> Giá ít hơn 

dt_model = DecisionTreeRegressor(random_state = 1)
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(random_state=1)

In [135]:
y_predict = dt_model.predict(x_valid) # Lấy 5 thằng đầu
y_predict[:5]

array([215000., 130000.,  91000., 239000., 113000.])

In [136]:
# Trực quan giá trị

pd.DataFrame({'GTTT':  y_valid , 'GTDD': y_predict})

        GTTT      GTDD
Id
530   200624  215000.0
492   133000  130000.0
460   110000   91000.0
280   192000  239000.0
656    88000  113000.0
...      ...       ...
327   324000  290000.0
441   555000  465000.0
1388  136000  169000.0
1324   82500   80000.0
62    101000  116000.0

[292 rows x 2 columns]

In [137]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor 
# Mô hình random forest

rf_model = RandomForestRegressor(random_state = 1) 
rf_model.fit(x_train, y_train)

RandomForestRegressor(random_state=1)

In [138]:
y_predict1 = rf_model.predict(x_valid)  
y_predict1[:5]   # lấy 4 giá trị đầu

array([206064.9 , 138659.42, 104259.66, 205028.3 ,  94625.04])

In [139]:
pd.DataFrame({'GTTT':  y_valid , 'GTDD': y_predict1 })

        GTTT       GTDD
Id
530   200624  206064.90
492   133000  138659.42
460   110000  104259.66
280   192000  205028.30
656    88000   94625.04
...      ...        ...
327   324000  269377.32
441   555000  441370.33
1388  136000  185945.61
1324   82500   78789.00
62    101000  105276.42

[292 rows x 2 columns]

In [140]:
x_valid.head()

,LotArea,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,OverallQual,GarageArea,OverallCond
Id,,,,,,,,,,,,
530,32668,1957,1975,2515,0,3,4,2,9,6,484,3
492,9490,1941,1950,958,620,1,3,1,5,6,240,7
460,7015,1950,1950,979,224,1,3,1,5,5,352,4
280,10005,1977,1977,1156,866,2,4,1,8,7,505,5
656,1680,1971,1971,525,567,1,3,1,6,6,264,5

In [141]:
# Dự đoán không có trong list 

# rf_model.predict([ [78888, 2000, 1000, 800, 3,	4,	9, 6 , 8] ])

In [142]:
# Kiểm tra model 
from sklearn.metrics import r2_score
r2_score(y_valid, y_predict)

0.7439052189917967

In [143]:
r2_score(y_valid, y_predict1)

0.824694703355791